body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 500px;
}

#weatherResult {
    margin-top: 20px;
}

input {
    margin: 5px;
    height: 20px;
}

#weatherForm{
    display: flex;
    flex-direction: column;
}

button{
    height: 50px;
    border: none;
    background-color: aquamarine;
    font-size: 1rem;
    margin-top: 1.5rem;
}