html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background: 
        radial-gradient(transparent, black), url("./background.jpg");
    background-position:center;
    background-size: cover;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 2rem;
    height: 2.5rem;
}
select, button, input {
    border: none;
}
select {
    background: transparent;
    margin-left: 75%;
}
button {
    background-color: red;
}
select, button, h1, h2, p {
    color: white;
}
option {
    color: black;
}
#sign {
    border-radius: 5px;
    padding: 0.7rem;
    margin-left: 1rem;
}
main {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 20%;
    text-align: center;
}
h1 {
    width: 60%;
    margin: 0 auto;
}
#member button, #member input {
    font-size: 1.3rem;
    padding: 1rem;
    margin: 0;
}
#member button {
    margin-left: -3px;
}
#member input {
    width: 22rem;
}
#member input::placeholder {
    font-size: 0.8rem;
}

